<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css" />
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-sect-one">
            <h3>Bloggate</h3>
            <p>Sharing Stories, Sparking Creativity, Connecting Hearts.</p>
            <div class="icons">
                <ion-icon name="logo-facebook" class="icon"></ion-icon>
                <ion-icon name="logo-twitter" class="icon"></ion-icon>
                <ion-icon name="logo-instagram" class="icon"></ion-icon>
            </div>
        </div>
        <div class="footer-sect-two">
            <h3>Info</h3>
            <ul>
                <li><a href="/blog">
                    <div style="display: flex; align-items: center;">
                        <ion-icon name="caret-forward-outline"></ion-icon>
                        Blog
                    </div>
                </a></li>
                <li><a href="/about">
                    <div style="display: flex; align-items: center;">
                        <ion-icon name="caret-forward-outline"></ion-icon>
                        About
                    </div>
                </a></li>
                <li><a href="/admin">
                    <div style="display: flex; align-items: center;">
                        <ion-icon name="caret-forward-outline"></ion-icon>
                        Admin
                     </div>
                </a></li>
                <li><a href="/contact">
                    <div style="display: flex; align-items: center;">
                        <ion-icon name="caret-forward-outline"></ion-icon>
                        Contact
                    </div>
                </a></li>
            </ul>
        </div>
        <div class="footer-sect-three">
            <h3>Have a questions?</h3>
            <div class="footer-info">
                <div class="info">
                    <ion-icon name="location-outline" class="ion"></ion-icon>
                    <p>198 West 21thStreet, Suite 721<br> New York NY 10016</p>
                </div>
                <div class="info">
                    <ion-icon name="mail-outline" class="ion"></ion-icon>
                    <p>customercare@bloggate.com</p>
                </div>
                <div class="info">
                    <ion-icon name="call-outline" class="ion"></ion-icon>
                    <p>+234 905525689</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>