<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css" />
    <title>Document</title>
</head>
<body>
    <div class="nav-container">
        <div class="navbar">
            <h3>Bloggate</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/admin">Post a blog</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
            <a href="/signup-page">
                <button class="navbtn">Sign Up</button>
            </a>
        </div>
    </div>
</body>
</html>