<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title><%=title%></title>
</head>
<body>
    <div class="bg">
        <div class="homebg">
            <%- include('./partials/navbar.ejs') -%>
            <div class="homebgcolor">
                <div class="homecontent">
                    <h3>Hello! Welcome to </h3>
                    <h1>Blog Gate</h1>
                    <p>
                        Step into a world of creativity and knowledge on our blog site.<br>
                        From insightful articles to engaging stories, we cover a wide<br>
                        range of topics to inspire and inform. Join our community of <br>
                        readers as we explore the latest trends, share valuable insights,<br>
                        and spark meaningful conversations. Dive into our blog and let<br>
                        your curiosity lead the way!
                    </p>
                    <button>Post Blog</button>
                </div>
            </div>
        </div>
        <div class="homeblog">
            <div class="blog-container">
                <h1>Trending</h1>
                <div class="blog-wrapper">
                    <div class="blog">
                        <img src="asset/pexels-drew-williams-1285451-3098619.jpg" alt="blog-1" />
                        <p>Business travel - 2024-03-12</p>
                        <h2>Your most unhappy customers</h2>
                        <p>
                            So for storing an image in MongoDB, we need to create a schema with mongoose. For that create the file model. file and define the schema. The important point here is that our data type for the image is a Buffer which allows us to store our image.
                        </p>
                        <h3>Jacob Samson Aina</h3>
                        <p class="email">jacobsamson2000@gmail.com</p>
                        <a href="/blog">View</a>
                    </div>
                    <div class="blog">
                        <img src="asset/pexels-ekrulila-21369952.jpg" alt="blog-1" />
                        <p>Business travel - 2024-03-12</p>
                        <h2>Your most unhappy customers</h2>
                        <p>
                            So for storing an image in MongoDB, we need to create a schema with mongoose. For that create the file model. file and define the schema. The important point here is that our data type for the image is a Buffer which allows us to store our image.
                        </p>
                        <h3>Jacob Samson Aina</h3>
                        <p class="email">jacobsamson2000@gmail.com</p>
                        <a href="/blog">View</a>
                    </div>
                    <div class="blog">
                        <img src="asset/Air-Peace-jpeg.webp" alt="blog-1" />
                        <p>Business travel - 2024-03-12</p>
                        <h2>Your most unhappy customers</h2>
                        <p>
                            So for storing an image in MongoDB, we need to create a schema with mongoose. For that create the file model. file and define the schema. The important point here is that our data type for the image is a Buffer which allows us to store our image.
                        </p>
                        <h3>Jacob Samson Aina</h3>
                        <p class="email">jacobsamson2000@gmail.com</p>
                        <a href="/blog">View</a>
                    </div>
                    <div class="blog">
                        <img src="asset/pexels-jeswin-1652555.jpg" alt="blog-1" />
                        <p>Business travel - 2024-03-12</p>
                        <h2>Your most unhappy customers</h2>
                        <p>
                            So for storing an image in MongoDB, we need to create a schema with mongoose. For that create the file model. file and define the schema. The important point here is that our data type for the image is a Buffer which allows us to store our image.
                        </p>
                        <h3>Jacob Samson Aina</h3>
                        <p class="email">jacobsamson2000@gmail.com</p>
                        <a href="/blog">View</a>
                    </div>
                    <div class="blog">
                        <img src="asset/pexels-markusspiske-3970330.jpg" alt="blog-1" />
                        <p>Business travel - 2024-03-12</p>
                        <h2>Your most unhappy customers</h2>
                        <p>
                            So for storing an image in MongoDB, we need to create a schema with mongoose. For that create the file model. file and define the schema. The important point here is that our data type for the image is a Buffer which allows us to store our image.
                        </p>
                        <h3>Jacob Samson Aina</h3>
                        <p class="email">jacobsamson2000@gmail.com</p>
                        <a href="/blog">View</a>
                    </div>
                    <div class="blog">
                        <img src="asset/pexels-pixabay-267389.jpg" alt="blog-1" />
                        <p>Business travel - 2024-03-12</p>
                        <h2>Your most unhappy customers</h2>
                        <p>
                            So for storing an image in MongoDB, we need to create a schema with mongoose. For that create the file model. file and define the schema. The important point here is that our data type for the image is a Buffer which allows us to store our image.
                        </p>
                        <h3>Jacob Samson Aina</h3>
                        <p class="email">jacobsamson2000@gmail.com</p>
                        <a href="/blog">View</a>
                    </div>
                </div>
                <!-- <div>
                    <h3>Categories</h3>
                    <div>
                        <div>
                            <img src="" alt="slide-one" />
                            
                        </div>
                    </div>
                </div> -->
                <div class="newsletter">
                    <h2>Subscribe to our Newsletter</h2>
                    <div class="newsletter-form">
                        <form action="/api/v1/subcribe-post" method="post">
                            <input type="email" placeholder="Enter your email address" name="email" />
                            <button>SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') -%>
    </div>
</body>
</html>