<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>
    <div class="login-page">
        <div class="container">
            <h2>Update Password</h2>
            <form action="/update-password/<%=id%>/<%=token%>?_method=PUT" method="post" id="form">
                <label>New Password</label><br>
                <input type="password" id="password" name="password" placeholder="New Password" /><br>
                <p id="errorEmail" style="color: red; text-align: left; padding: 2px 0px; font-size: 12px; font-family: sans-serif;"></p><br>
                <!-- <label>Confirm Password</label><br>
                <input type="password" id="password" name="password" placeholder="Password" /><br>
                <p id="errorPassword" style="color: red; text-align: left; padding: 2px 0px; font-size: 12px; font-family: sans-serif;"></p><br> -->
                <button type="submit">Update Password</button><br>
            </form>
        </div>
    </div>
</body>
</html>